* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.game{
    height: 90vh;
     border: 2px solid black;
     width: 30vw;
    position: relative;
    overflow: hidden;
    background-image: url(doodlejumpbg.png);
}
.character{
    height: 60px;
    width: 40px;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items:end;
    justify-content: center;
}
.character img{
height: 60%;
}
.stair{
    height: 20px;
    width: 100px;
     background-position: center;
     background-size: contain   ;
     background-repeat: no-repeat;
    position: absolute;
    background-image: url(assest/platform.png);
}